@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$primary-color: #323131;
$secondary-color: #2f6061;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary-color;
}

main {
  margin-top: 15px;
  border-top: 15px solid $secondary-color;
  padding: 25px;
  h1,
  h2,
  h3 {
    color: $secondary-color;
    font-size: 26px;
    text-transform: lowercase;
  }
  h1 + a,
  h2 + a,
  code {
    display: inline-block;
    margin-top: 15px;
  }
}

a {
  color: $primary-color;
}

footer {
  font-size: 11px;
  p,
  ul {
    list-style: none;
    li {
      line-height: 2;
    }
  }
}

h2,
footer {
  margin-top: 15px;
}

a:hover {
  text-decoration: none;
  animation-name: anchor-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes anchor-hover {
  100% {
    background-color: $secondary-color;
    color: #fff;
  }
}
